:host {
    display: block;
    border: 1px solid #777;
    background: #f0f0f0;
    padding: 4px;
    margin-bottom: 8px;
    overflow: auto;
    cursor: pointer;
}
img {
    display: block;
    float: left;
    box-shadow: #777 1px 1px 3px;
}
.info {
    float: left;
    margin-left: 8px;
}