<div id="sidebar"><div class="navigator">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
        <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/hero">Heroes</a>
        <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/skill">Skills</a>
        <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/item">Items</a>
    </div>
    <div class="bottom-links">
        <li><a href="/">Dota Vault</a></li>
    </div>
</div></div>
<div id="container-main">
    <router-outlet></router-outlet>
</div>