<nav class="navbar navbar-static-top" style="margin-bottom:0;">
    
    <div class="navbar-default sidebar">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav">
                <li>
                    <a routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
                </li>
                <li>    
                    <a routerLinkActive="active" routerLink="/hero">Heroes</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/skill">Skills</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/item">Items</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="page-wrapper">
    <router-outlet></router-outlet>
</div>