<nav class="navbar">
    <div class="personal">
        <div class="avatar"><img src="/img/logo.png" ></div>
        <div class="name">Hello Administrator</div>
    </div>
    <ul>
        <li>
            <a routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
        </li>
        <li>    
            <a routerLinkActive="active" routerLink="/hero">Heroes</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/item">Items</a>
        </li>
    </ul>
</nav>
<div id="page-wrapper">
    <router-outlet></router-outlet>
</div>