.sidebar {
    z-index: 1;
    position: absolute;
    width: 240px;
    margin-top: 64px;
}
.sidebar li {
    border-top: 1px solid #e7e7e7;
}
.sidebar li:last-child {
    border-bottom: 1px solid #e7e7e7;
}
.sidebar a.active {
    background: #e0e0e0;
}
#page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
    background: white;
}