<table class="table table-striped table-hover md-box">
    <thead>
        <tr>
            <th></th>
            <th>Faction</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroes" (click)="onEditHero(hero)">
            <td class="potrait">
                <img [src]="hero.key | gallery:'hero':'sm'" />
            </td>
            <td class="faction">
                <span [class]="enumFaction(hero.faction)">{{enumFaction(hero.faction) | uppercase}}</span>
            </td>
            <td class="name">{{hero.name}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                page 1/1
            </td>
        </tr>
    </tfoot>
</table>
<span class="fixed-bottom-button">
    <button md-fab color="primary" routerLink="/hero/create">
        <md-icon class="md-24">add</md-icon>
    </button>
</span>