<div class="action-buttons-area">
     <button (click)="onBack()" class="btn btn-link">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        back
    </button>
    <button (click)="onSave()" class="btn btn-primary">Save</button>
</div>

<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <legend *ngIf="componentAction == 'edit'">Edit {{hero.name}}</legend>
            <legend *ngIf="componentAction == 'create'">Create Hero Profile</legend>
            <div class="row">
                <div class="col-lg-4">
                    <div *ngIf="componentAction == 'edit'">
                        <img [src]="hero.key | gallery:'hero':'lg'"><br />
                        <h4>{{hero.name}}</h4>
                    </div>
                    <div *ngIf="componentAction == 'create'">
                        <potrait-select (outputEvent)="onPotraitSelected($event)"></potrait-select>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="form-group">
                        <label for="hero-faction" class="col-lg-3 control-label">Faction</label>
                        <div class="col-lg-9">
                            <select name="faction" [(ngModel)]="hero.faction" class="form-control" id="hero-faction">
                                <option value="0">Radiant</option>
                                <option value="1">Dire</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="hero-primary-attribute" class="col-lg-3 control-label">Primary Attribute</label>
                        <div class="col-lg-9">
                            <select name="primaryAttribute" [(ngModel)]="hero.primaryAttribute" class="form-control" id="hero-primary-attribute">
                                <option value="0">Agility</option>
                                <option value="1">Intelligence</option>
                                <option value="2">Strength</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="hero-attack-type" class="col-lg-3 control-label">Attack Type</label>
                        <div class="col-lg-9">
                            <select name="attackType" [(ngModel)]="hero.attackType" class="form-control" id="hero-attack-type">
                                <option value="0">Melee</option>
                                <option value="1">Ranged</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="hero-role" class="col-lg-3 control-label">Role</label>
                        <div class="col-lg-9">
                            <input name="hardCarry" [(ngModel)]="hero.role.hardCarry" class="form-control">
                            <input name="semiCarry" [(ngModel)]="hero.role.semiCarry" class="form-control">
                            <input name="ganker" [(ngModel)]="hero.role.ganker" class="form-control">
                        </div>
                    </div>

                    <div class="hero-abilities">
                        <label for="hero-role" class="col-lg-3 control-label">Abilities</label>
                        <div class="col-lg-9">
                            <ability-layout [abilities]="hero.abilities" [layoutSlot]="3"></ability-layout>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>