:host {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.page-header {
    border-bottom: 1px solid #ccc;
}
.hot-heroes {
    overflow: auto;
    display: block;
    padding: 0 8px 8px 8px;
    margin-top: 8px;
    border-radius: 4px;
    background: #f0f0f0;
}